[submodule "dependencies/cglm"]
	path = dependencies/cglm
	url = https://github.com/recp/cglm
[submodule "dependencies/cgltf"]
	path = dependencies/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
